@mixin contact ($width) {
  background: rgba(249, 249, 249, 1.00);
  border-top: 5px solid rgba(134, 134, 134, 1.00);
  height: 400px;
  width: $width;
  padding: 20px;
  margin: 15px 0px 0px 20px;

}


@mixin footer-back ($background) {
  background-color: $background;
  opacity: 0.9;
  position: sticky;
  width: 100%;
  top: 100%;
  right: 0%;
  left: 0%;
}





@mixin for-phone-only {
  @media (max-width: 767px) {
    @content;
  }
}


@mixin for-tablet-only {
  @media (min-width: 768px)and(max-width: 1024px) {
    @content;
  }
}

@mixin for-ipadpro-only {

  @media (min-width:1024px) and (max-width:1366px) {
    @content;
  }
}
